body {
  font-family: sans-serif;
  background-color: #dfdfdf;
}

img {
  width: 20px;
  cursor: pointer;
}

.card {
  background-color: white;
  width: 30%;
  padding: 30px;
  margin: 30px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h2 {
  font-weight: 300;
  color: gray;
}

.card input {
  width: 100%;
  padding: 10px 0px;
  border: none;
  font-size: 12pt;
  border-bottom: 1px solid gray;
}

.card div {
  margin: 30px 0px;
}

.card button {
  border: none;
  padding: 15px;
  font-size: 12pt;
  margin: 0px 5px;
  border: 1px solid gray;
  border-radius: 30px;
  cursor: pointer;
}

.card button:hover {
  background-color: gray;
  color: white;
  font-weight: 600;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
